{% extends 'rifa/base.html' %}
{% block title %}Cadastro Pantanal da Sorte{% endblock %}

{% block content %}
<section class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="glass-login w-100" style="max-width: 500px;">
    <h2>Cadastro</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'cadastro' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nomeCompleto" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" required>
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>



      <div class="mb-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" required placeholder="000.000.000-00">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>

      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone/WhatsApp</label>
        <input type="text" class="form-control" id="telefone" name="telefone" required placeholder="(99) 99999-9999">
      </div>

      <div class="mb-3">
        <label for="confirmaTelefone" class="form-label">Confirmar Telefone</label>
        <input type="text" class="form-control" id="confirmaTelefone" name="confirmaTelefone" required placeholder="(99) 99999-9999">
      </div>

      <div class="mb-3">
        <label for="password1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
      </div>

      <div class="mb-3">
        <label for="password2" class="form-label">Confirmar Senha</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
<script>
  $(document).ready(function(){
    $('#cpf').inputmask('999.999.999-99');
    $('#telefone').inputmask('(99) 99999-9999');
    $('#confirmaTelefone').inputmask('(99) 99999-9999');
  });
</script>
{% endblock %}